.navbar{

    justify-content: space-between;
    display: flex;
    align-items: center;
    align-content: center;
    width: 80%;
    margin-left: 10%;
    background-color: black;
    color: beige;
}
body{
    background-color: bisque;
    
}